body {
  font-family: Pacifico;
  background-size: cover;
  height: 650px;
  /*margin: -3%;*/
  overflow-x: hidden;
  position: relative;
}

footer{
  margin-top: 350px;
  font-size: 1.6em;
}

#city,#weatherType,#windSpeed{
  font-size: 1.5em;
  opacity: 0.8;
}
