body{
  font-family: Pacifico;
  background-size: cover;
  height: 600px;
  /*margin: -3%;*/
  overflow-x: hidden;
  position: relative;
}

#foot{
  margin-top: 350px;
  width: 40%;
  margin-left: 35%;
  font-size: 1.5em;
  opacity: 0.6;
  border-radius: 10px;
  /*color: grey;*/
}

#city,#weatherType,#windSpeed{
  font-size: 1.5em;
  opacity: 0.8;
  border-radius: 10px;
}
